Repository saud-alnasser/cachescribe, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š type: documentation, ðŸ”§ type: development tools, ðŸš€ flag: release, ðŸ“¦ flag: dependencies

ci(release): change changeset-version script to `cjs`
  .github/changeset-version.cjs
  .github/workflows/release.yml
Labels: ðŸ”§ type: development tools

ci(release): change changeset-version script to `cjs` (#1)
  .github/changeset-version.cjs
  .github/workflows/release.yml
Labels: ðŸ”§ type: development tools

ci(release): include required permissions for provenance release
  .github/workflows/release.yml
Labels: ðŸ”§ type: development tools

ci(release): include required permissions for provenance release (#5)
  .github/workflows/release.yml
Labels: ðŸ”§ type: development tools

fix: use correct repository url in the package.json
  package.json
Labels: none

fix: use correct repository url in the package.json (#6)
  package.json
Labels: none

docs(readme): remove `key features` section
  .changeset/mean-bees-grow.md
  README.md
Labels: ðŸ“š type: documentation

docs(readme): remove `key features` section (#7)
  .changeset/mean-bees-grow.md
  README.md
Labels: ðŸ“š type: documentation

ci(release): permit to use all write permissions
  .github/workflows/release.yml
Labels: ðŸ”§ type: development tools

ci(release): set to have all write permissions (#8)
  .github/workflows/release.yml
Labels: ðŸ”§ type: development tools

chore: improve pull_request_tempalte and issues config
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .gitignore
Labels: ðŸ“š type: documentation, ðŸ”§ type: development tools

chore: improve templates (#12)
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .gitignore
Labels: ðŸ“š type: documentation, ðŸ”§ type: development tools

ci(release): use `changeset publish` instead of `pnpm publish`
  .github/workflows/release.yml
  package.json
Labels: ðŸ”§ type: development tools

ci(release): use `changeset publish` instead of `pnpm publish` (#14)
  .github/workflows/release.yml
  package.json
Labels: ðŸ”§ type: development tools

.github/labeler.yml:

# types

'ðŸ“š type: documentation':
  - any: ['**/*.md']
  - any: ['**/*.mdx']

'ðŸ”§ type: development tools':
  - any: ['*.config.*']
  - any: ['.*rc.*']
  - any: ['.*rc']
  - any: ['.*ignore']
  - any: ['.*attributes']
  - any: ['.husky/**/*']
  - any: ['.changeset/config.json']
  - any:
      [
        '.github/**/*',
        '!.github/ISSUE_TEMPLATE/*',
        '!.github/PULL_REQUEST_TEMPLATE.md',
      ]

# flags

'ðŸš€ flag: release':
  - any: ['**/CHANGELOG.md']

'ðŸ“¦ flag: dependencies':
  - any: ['pnpm-lock.yaml']
